.day-table a {
  color:#423F21;
  text-decoration:underline;
}

.day-table a:hover {
    color:#628680;
}


.day-table a:visited {
  color:#423F21;
  text-decoration:underline;
}

.day-table a:active {
  color:#423F21;
  text-decoration:underline;
}

.dark-table a {
  color:#C7EDCC;
  text-decoration:underline;
}

.dark-table a:hover {
  color:#628680;
}

.dark-table a:active {
  color:#C7EDCC;
  text-decoration:underline;
}

.dark-table a:visited {
  color:#C7EDCC;
  text-decoration:underline;
}