<link rel="stylesheet" class="aplayer-secondary-style-marker" href="/assets/css/APlayer.min.css"><script src="/assets/js/APlayer.min.js" class="aplayer-secondary-script-marker"></script>table { background-color: #ff0000; }
tr { background-color: yellow; }
td { background-color: #000; }